.example-card {
  margin: auto;
  width: 450px;
}

.example-form-field {
  width: 100%;
}

.mat-list-base .mat-list-item{
  height: 1.5rem;
}


button {
  color: red;
  border: none;
  font-size: 100%;
}